<div id="wrap">
  <div id="main" class="container clear-top">
    <div id="topPan">
      <div class="logoImage">
        <%= image_tag "logo.png" %> 
      </div>
      <div class="logoTitle">
        Books Review
      </div>
      <div class="clearing">
        &nbsp;
      </div>
      <div class="navBar">
        <nav class="navbar navbar-default" role="navigation">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Book Release</a>
            </li>
            <li>
              <a href="#">Explore</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div id="middlePan">
      <div class="row">
        <div class="col-md-8">Left Pan</div>
        <div class="col-md-4">Right Pan</div>
      </div>
    </div>
    <div id="bottomPan">
      Bottom Pan
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <p>&copy; 2013. Akademi Rails.</p>
  </div>
</div>