<div class="midlePan">
  <a href="<%= new_admin_category_path %>">Add New Category</a>
  <h3>List Of Books</h3>
  <table class="table table-striped">
    <tr>
      <th>No.</th>
      <th>Book Title</th>
      <th></th>
    </tr>
    <% number = 0 %>
    <% @categories.each do |category| %>
      <tr>
        <td><%= number += 1 %>.</td>
        <td><%= category.name %></td>
        <td>
          <a href="#">Edit</a> | 
          <a href="#">Delete</a>
        </td>
      </tr>
    <% end %>
  </table>
</div>